<div class="container-fluid features" id="section2" ng-controller="proysercontroller">
	<div class="container">
		<div class="row">
                     <div class="title">
                          <h2>Proveedores de Articulos</h2>
                     </div>
                    
                    <div class="desc">
                        <p>Por favor Seleccione el proveedor de su preferencia para ver los articulos que ofrece.</p>
                    </div>
                    <br/><br/><br/>
                    <!-- Contenedor de Tablas -->
                    <div class="col-sm-6" style="background-color:lavender; margin-left:25%;">
                        <img src="images/cargando1.gif"   ng-show="menuState.show" style="position: absolute; margin-left: 28%; margin-top: 15%;" /> 
                        
                        <!-- Tabla Proveedores de transporte -->
                        <table class="table table-striped" style="cursor: pointer;">
                              <thead>
                                  <tr>
                                      <th>Nombre del Proveedor</th>  
                                      <th>Ver</th> 
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="prod in availableArticulos" ng-click="setSelectedProduct(prod.idproducto)">                            
                                      <td>{{prod.nombre}}</td>
                                      <td><a href="" ng-click="consultarArticulos(prod.idProveedor, prod.nombre)">Ver</a></td>
                                  </tr>
                              </tbody>
                         </table>

                         <!-- Tabla servicios de proveedores de transporte -->
                         <table class="table table-striped" style="cursor: pointer;">
                              <thead>
                                  <tr>
                                      <th>Servicios del Proveedor : {{nombreProveedor}}</th>  
                                      <th>Precio</th> 
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="prod in articuloProveedor" >                            
                                      <td>{{prod.nombre}}</td>
                                       <td>{{prod.precio| currency }}</td>
                                       <td><a href=""  ng-click="carritoArticulos(prod.nombre,nombreProveedor,prod.precio)">Adicionar a Carrito</a></td>

                                  </tr>
                              </tbody>
                          </table> 
                         <button type="submit" class="btn btn-default btn-sub" style="background-color: #4E618C;" ng-click="nextArticulos()">Comprar</button>
                    </div>
            </div>
            
            
            <br/><br/>                    
	</div>
</div>