<div>
<div class="col-md-12 backg">
    <div class="container" id="loginContenedor" style="width: 50%;background-color: white;padding: 3%;margin-left: 27%; -webkit-box-shadow: 0px 3px 13px 7px rgba(207,207,207,1);
    -moz-box-shadow: 0px 3px 13px 7px rgba(207,207,207,1);
    box-shadow: 0px 3px 13px 7px rgba(207,207,207,1);">
      <form class="form-signin" role="form" >
          <div class="col-md-12 some-notes">
            <div class="title">
                <h2>Iniciar Sesión</h2>
            </div>
            <div class="desc">
                <p>Por favor inicie sesión. Si no esta registrado por favor registrese acá <a href="#registrar" >Registrarme</a></p>
            </div>
          </div>
        <input type="text" class="form-control" placeholder="Usuario" required autofocus ng-model="correo">
        <input type="password" class="form-control" placeholder="Clave" ng-model="clave">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Recordar clave?
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="entrar(correo,clave)">Iniciar sesion</button>
      </form>

    </div> 
</div>
</div>