<div   style="background-color: rgba(156, 151, 151, 0.64);">
	<div class="container">
		<div class="row" ng-controller="proysercontroller">
			<div class="col-md-12">
                            <div class="col-md-12 some-notes">
                                <div class="title">
                                    <h2>Registrate</h2>
                                </div>
                                <div class="desc">
                                    <p>Por favor diligencia todos los campos para realizar el registro con Pro&Ser y podras acceder a todos los beneficios que tenemos para ti.</p>
                                </div>
                            </div>
				<div class="col-md-12">
				
					<form role="form">
						<div class="col-md-6 col-sm-12 col-xs-12contact-form">
	                        <div class="form-group">
                                    <input type="text" class="form-control form-effect" id="name" placeholder="Nombre" ng-model="nombre">
	                        </div>
	                        <div class="form-group">
	                            <input type="text" class="form-control form-effect" id="apellido" placeholder="Apellido" ng-model="apellido">
	                        </div>
                                <div class="form-group">
                                    <label for="mySelect" style=" font-family: 'Roboto', sans-serif;font-size: x-large;">Tipo de Documento:</label>
                                    <select ng-model="operators.value" ng-options="v for v in operators.values"></select>
                                    
	                        </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-effect" id="numDoc" placeholder="Numero de Documento" ng-model="numDoc">
	                        </div>
                                
	                        <div class="form-group">                                 
	                            <input type="text" class="form-control form-effect" id="direccion" placeholder="Dirección" ng-model="direccion">
	                        </div>
	                        
	                        
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12contact-form">
                                <div class="form-group">
	                            <input type="text" class="form-control form-effect" id="tel" placeholder="Telefono" ng-model="telefono">
	                        </div>
                        	
	                        <div class="form-group">                                 
	                            <input type="email" class="form-control form-effect" id="email" placeholder="Correo Electronico" ng-model="correo">
	                        </div>
	                        <div class="form-group">                                 
	                            <input type="password" class="form-control form-effect" id="pass" placeholder="Contraseña" ng-model="contra">
	                        </div>
	                        <div class="form-group">                                 
	                            <input type="password" class="form-control form-effect" id="repass" placeholder="Repita su contraseña" ng-model="contra1">
	                        </div>
                            <button type="submit" class="btn btn-default btn-sub" style="background-color: #4E618C;" ng-click="registrarCliente()">Enviar</button>
                        </div>
                    </form>
				
				
			</div>
			</div>
		</div>
	</div>
        <div class="desc">
           <p>Si ya estas registrado por favor ingresa a tu <a href="#login" >Aqui</a></p>
        </div>
    
    <br>
        
</div>

