<div ng-controller="skcontroller">
    <h1> Selección de productos </h1>


    <div class="container" >

        <div class="row" >
            <div class="col-sm-6" style="background-color:lavender;">

                <table class="table table-striped" style="cursor: pointer;">
                    <thead >
                        <tr >
                            <th>Nombre del producto</th>
                            <th>Precio</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prod in availableProducts" ng-click="setSelectedProduct(prod.idproducto)">                            
                            <td>{{ prod.nombre}}</td>
                            <td>{{ prod.precio}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div ng-hide="myVar" class="col-sm-6" style="background-color:lavenderblush;">


                
                <button  value="OK" ng-click="addToSelectedProducts()" >Agregar al carro de compras.</button>
                <p></p>
                <p>Id Producto {{selectedProductDetail.idproducto}}</p>
                <p>Nombre {{selectedProductDetail.nombre}}</p>
                <p>Nombre {{selectedProductDetail.precio}}</p>
                
            </div>


        </div>
    </div>
</div>


